doctype
html( lang="en" )
    include ../template/head.jade
    link(rel='stylesheet', href='/bootstrap-datepicker/css/bootstrap-datepicker3.min.css')
    body
        .container
            include ../template/menu.jade
            div.container
                h2 Menu manager
                p #{dayOfWeek}, #{str_date}
                div.panel.panel-default
                    div.panel-heading Filter
                    div.panel-body
                        form.form-horizontal(role="form" method="post" action="" )
                            div.form-group.col-md-4
                                input.form-control.datepicker(type="text" name="date" value="#{str_date}")
                            div.form-group.col-md-2
                                button.btn.btn-primary(type="submmit") OK
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th Name
                            th Price
                            th Action
                    tbody 
                        - each menu in menus
                            tr
                                td #{menu.foodName}
                                td #{menu.price}
                                td
                                    a.btn.btn-primary(href="/admincp/menu-manager/edit/#{menu._id}") Edit
                                    a.btn.btn-danger(href="javascript:void(0)" data-href="/admincp/menu-manager/delete/#{menu._id}" data-toggle="modal" data-target="#confirm-delete") Delete
        div.modal.fade#confirm-delete(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            div.modal-dialog
                div.modal-content
                    div.modal-header Confirm
                    div.modal-body Do you want to delete this menu?
                    div.modal-footer
                        button( type="button" class="btn btn-default" data-dismiss="modal") Cancel
                        a.btn.btn-danger.btn-ok OK
        include ../template/foot.jade
        script(src="/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
        script(type="text/javascript").
            $(document).ready(function() {
                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true
                });

                $('#confirm-delete').on('show.bs.modal', function(e) {
                    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                });
            });